<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center">Registro</h1>
                <form action="">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" placeholder="Ingrese su E-Mail" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" placeholder="Ingrese su contraseña" class="form-control">
                    </div>
                    <input type="text" value="Enviar" class="btn btn-primary btn-block btn-lg">
                </form>
            </div>
        </div>
    </div>
</div>
